<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    layout:decorator="common/layout">
<head>
  <link rel="stylesheet" type="text/css" th:href="@{/static/css/inputPage.css}" />
  <script type='text/javascript' th:src="@{/static/js/input4.5.js}"></script>
</head>
<body>
    <main layout:fragment="content">
      <form th:object="${table4Sub5Form}" id="table4Sub5DataForm" method="post">
        <div class="container minHeight">
            <div class="row justify-content-center align-self-center mt-3">
                <div class="card">
                    <div class="card-header"><span th:text="#{membership.dataTable4Sub5.group.subject}">DANH MỤC NGHỀ NGHIỆP - NHÂN VIÊN DỊCH VỤ VÀ BÁN HÀNG</span></div>
                    <div style="padding-left: 1.25rem; color: red" id="validateClientText" >
	                    <ul th:if="${#fields.hasErrors('*')}" class="error-list" style="color: red" >
	                      <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
	                    </ul>
		            </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped jambo_table table-bordered">
                                <thead>
                                    <tr class="headings">
                                        <th class="column-title text-center header-col-title" rowspan="2"><label th:text="#{membership.dataTable4Sub5.table.col01}">Chức danh trong công ty</label></th>
                                        <th class="column-title text-center" colspan="4"><label th:text="#{membership.dataTable4Sub5.table.col02}">Nam</label></th>
                                        <th class="column-title text-center" colspan="4"><label th:text="#{membership.dataTable4Sub5.table.col03}">Nữ</label></th>
                                    </tr>
                                    <tr class="headings">
                                        <th class="column-title text-center header-col-time"><label th:text="#{membership.dataTable4Sub5.table.col04}">Toàn thời gian, có xác định thời hạn</label></th>
                                        <th class="column-title text-center header-col-time"><label th:text="#{membership.dataTable4Sub5.table.col05}">Toàn thời gian, không xác định thời hạn</label></th>
                                        <th class="column-title text-center header-col-time"><label th:text="#{membership.dataTable4Sub5.table.col06}">Bán thời gian, không xác định thời hạn</label></th>
                                        <th class="column-title text-center header-col-time"><label th:text="#{membership.dataTable4Sub5.table.col07}">Tổng số cuối kỳ 12 tháng</label></th>
                                        <th class="column-title text-center header-col-time"><label th:text="#{membership.dataTable4Sub5.table.col08}">Toàn thời gian, không xác định thời hạn</label></th>
                                        <th class="column-title text-center header-col-time"><label th:text="#{membership.dataTable4Sub5.table.col09}">Toàn thời gian, có xác định thời hạn</label></th>
                                        <th class="column-title text-center header-col-time"><label th:text="#{membership.dataTable4Sub5.table.col10}">Bán thời gian, không xác định thời hạn</label></th>
                                        <th class="column-title text-center header-col-time"><label th:text="#{membership.dataTable4Sub5.table.col11}">Tổng số cuối kỳ 12 tháng</label></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="result, idx : *{dataTable4DtoList}">
                                        <td th:class="${result.parentLevel == null or result.parentLevel == ''} ? pl-2 : 'pl-5'">
                                            <span th:if="${result.level=='51'}" th:text="#{membership..dataTable4Sub5.table.row01}">Nhân viên dịch vụ cá nhân</span>
                                            <span th:if="${result.level=='51.1'}" th:text="#{membership.dataTable4Sub5.table.row02}">Nhân viên hướng dẫn, tổ chức khách du lịch</span>
                                            <span th:if="${result.level=='51.2'}" th:text="#{membership.dataTable4Sub5.table.row03}">Nhân viên đầu bếp</span>
                                            <span th:if="${result.level=='51.3'}" th:text="#{membership.dataTable4Sub5.table.row04}">Người bồi bàn, người phục vụ ở các quầy rượu</span>
                                            <span th:if="${result.level=='51.4'}" th:text="#{membership.dataTable4Sub5.table.row05}">Thợ làm đầu, nhân viên làm đẹp</span>
                                            <span th:if="${result.level=='51.5'}" th:text="#{membership.dataTable4Sub5.table.row06}">Người giám sát tòa nhà, quản gia</span>
                                            <span th:if="${result.level=='51.6'}" th:text="#{membership.dataTable4Sub5.table.row07}">Nhân viên dịch vụ cá nhân khác</span>
                                            
                                            <span th:if="${result.level=='52'}" th:text="#{membership.dataTable4Sub5.table.row08}">Nhân viên bán hàng</span>
                                            <span th:if="${result.level=='52.1'}" th:text="#{membership.dataTable4Sub5.table.row09}">Người bán hàng trên đường phố và tại chợ</span>
                                            <span th:if="${result.level=='52.2'}" th:text="#{membership.dataTable4Sub5.table.row10}">Nhân viên bán hàng trong cửa hàng</span>
                                            <span th:if="${result.level=='52.3'}" th:text="#{membership.dataTable4Sub5.table.row11}">Thủ quỹ và nhân viên thu tiền và bán vé</span>
                                            <span th:if="${result.level=='52.4'}" th:text="#{membership.dataTable4Sub5.table.row12}">Nhân viên bán hàng khác</span>
                                            
                                            <span th:if="${result.level=='53'}" th:text="#{membership.dataTable4Sub5.table.row13}">Nhân viên chăm sóc cá nhân</span>
                                            <span th:if="${result.level=='53.1'}" th:text="#{membership.dataTable4Sub5.table.row14}">Nhân viên chăm sóc trẻ em và người phụ tá cho giáo viên</span>
                                            <span th:if="${result.level=='53.2'}" th:text="#{membership.dataTable4Sub5.table.row15}">Hộ lý và nhân viên chăm sóc cá nhân trong các dịch vụ về sức khỏe</span>
                                            
                                            <span th:if="${result.level=='54'}" th:text="#{membership.dataTable4Sub5.table.row16}">Nhân viên dịch vụ bảo vệ</span>
                                            <span th:if="${result.level=='54.1'}" th:text="#{membership.dataTable4Sub5.table.row17}">Nhân viên dịch vụ bảo vệ</span>
                                        </td>
                                        <td>
                                            <input class="changeAny" maxlength="7" type="text" th:attr="rowTable4Sub5=male__${idx.index}__,colTable4Sub5=${result.parentLevel == null or result.parentLevel == ''} ? '' : 'maleFullTimeIndefinite' + ${result.parentLevel}" th:field="*{dataTable4DtoList[__${idx.index}__].tableMale.fullTimeIndefinite}" th:classappend="${result.parentLevel == null or result.parentLevel == ''} ? bg-transparent : validation" th:readonly="${result.parentLevel == null or result.parentLevel == ''}" value="1"></input>
                                        </td>
                                        <td>
                                            <input class="changeAny" maxlength="7" type="text" th:attr="rowTable4Sub5=male__${idx.index}__,colTable4Sub5=${result.parentLevel == null or result.parentLevel == ''} ? '' : 'maleFullTimeFixedTerm' + ${result.parentLevel}" th:field="*{dataTable4DtoList[__${idx.index}__].tableMale.fullTimeFixedTerm}" th:classappend="${result.parentLevel == null or result.parentLevel == ''} ? bg-transparent : validation" th:readonly="${result.parentLevel == null or result.parentLevel == ''}" value="0"></input>
                                        </td>
                                        <td>
                                            <input class="changeAny" maxlength="7" type="text" th:attr="rowTable4Sub5=male__${idx.index}__,colTable4Sub5=${result.parentLevel == null or result.parentLevel == ''} ? '' : 'malePartTimeIndefinite' + ${result.parentLevel}" th:field="*{dataTable4DtoList[__${idx.index}__].tableMale.partTimeIndefinite}" th:classappend="${result.parentLevel == null or result.parentLevel == ''} ? bg-transparent : validation" th:readonly="${result.parentLevel == null or result.parentLevel == ''}" value="0"></input>
                                        </td>
                                        <td>
                                            <input class="bg-transparent" type="text" th:attr="colTable4Sub5=${result.parentLevel == null or result.parentLevel == ''} ? '' : 'maleTotalEnd12m' + ${result.parentLevel}" th:field="*{dataTable4DtoList[__${idx.index}__].tableMale.totalEnd12m}" th:readonly="true" value="0"></input>
                                        </td>

                                        <td>
                                            <input class="changeAny" maxlength="7" type="text" th:attr="rowTable4Sub5=female__${idx.index}__,colTable4Sub5=${result.parentLevel == null or result.parentLevel == ''} ? '' : 'femaleFullTimeIndefinite' + ${result.parentLevel}" th:field="*{dataTable4DtoList[__${idx.index}__].tableFemale.fullTimeIndefinite}" th:classappend="${result.parentLevel == null or result.parentLevel == ''} ? bg-transparent : validation" th:readonly="${result.parentLevel==null or result.parentLevel == ''}" value="1"></input>
                                        </td>
                                        <td>
                                            <input class="changeAny" maxlength="7" type="text" th:attr="rowTable4Sub5=female__${idx.index}__,colTable4Sub5=${result.parentLevel == null or result.parentLevel == ''} ? '' : 'femaleFullTimeFixedTerm' + ${result.parentLevel}" th:field="*{dataTable4DtoList[__${idx.index}__].tableFemale.fullTimeFixedTerm}" th:classappend="${result.parentLevel == null or result.parentLevel == ''} ? bg-transparent : validation" th:readonly="${result.parentLevel==null or result.parentLevel == ''}" value="0"></input>
                                        </td>
                                        <td>
                                            <input class="changeAny" maxlength="7" type="text" th:attr="rowTable4Sub5=female__${idx.index}__,colTable4Sub5=${result.parentLevel == null or result.parentLevel == ''} ? '' : 'femalePartTimeIndefinite' + ${result.parentLevel}" th:field="*{dataTable4DtoList[__${idx.index}__].tableFemale.partTimeIndefinite}" th:classappend="${result.parentLevel == null or result.parentLevel == ''} ? bg-transparent : validation" th:readonly="${result.parentLevel==null or result.parentLevel == ''}" value="0"></input>
                                        </td>
                                        <td>
                                            <input class="bg-transparent" type="text" th:attr="colTable4Sub5=${result.parentLevel == null or result.parentLevel == ''} ? '' : 'femaleTotalEnd12m' + ${result.parentLevel}" th:field="*{dataTable4DtoList[__${idx.index}__].tableFemale.totalEnd12m}" th:readonly="true" value="0"></input>
                                        </td>
                                        <td style="display: none">
		                                    <input type="hidden" th:readonly="true" th:field="*{dataTable4DtoList[__${idx.index}__].level}" />
		                                    <input type="hidden" th:readonly="true" th:field="*{dataTable4DtoList[__${idx.index}__].parentLevel}" />
		                                </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center align-self-center">
                <div class="col-12">
                    <a type="button" class="btn btn-back" th:href="@{/membership/}" th:text="#{form.button.back}"></a>
                    <th:block th:if="${session.reportStatus == null}">
                        <input type="button" class="btn btn-send-contact float-right mx-sm-4" onclick="actionSubmitForm(this, './complete', '#table4Sub5DataForm');" th:value="#{form.button.complete}" />
                        <input type="button" class="btn btn-send-contact float-right" onclick="actionSubmitForm(this, './save', '#table4Sub5DataForm');" th:value="#{form.button.save}" />
                    </th:block>
                </div>
            </div>
        </div>
        <input type="hidden" id="autosaveInterval" th:value="${autosaveInterval}"/>
    	<input type="hidden" th:id="statusSave" th:name="status" th:value="${session.reportStatus}"/>
    	<input type="hidden" th:id="statusInCarrer" th:name="statusInCarrer" th:value="*{statusInCarrer}"/>
      </form>
    </main>
</body>
</html>