<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
<title>Mail kích hoạt tài khoản</title>
</head>
<body class="login">
    <div>
        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    <div class="logo row">
                        <div class="col-md-12">
                            <img th:src="|data:image/png;base64,${Logo}|" />
                        </div>
                    </div>
                    <br />
                    <div>
                        <p>Xin chào <span th:text="${FullName}" ></span>,</p>
                        <p></p>
                        <p>Một tài khoản đã được tạo cho bạn tại hệ thống VBCWE.</p>
                        <p></p>
                        <p>Vui lòng truy cập vào <a th:href="|${VerifyUrl}|">link này</a> để kích hoạt tài khoản của bạn. </p>
                        <p></p> 
                        <p>Thanks &amp; Best Regards.</p>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>
</html>
