<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    layout:decorator="common/layout">
<head>
  <link rel="stylesheet" th:href="@{/static/css/admin_custom.css}" />
  <link rel="stylesheet" th:href="@{/static/css/signup.css}" />
  <script type='text/javascript' th:src="@{/static/js/changepass.js}"></script>
</head>
<body>
    <main layout:fragment="content">
        <div class="animate form login_form">
            <section class="content-header">
                <div class="alert alert-success" th:if="${messageSuccess != null}">
                    <span th:text="#{${messageSuccess}}"></span>
                </div>
                <div class="alert alert-error" th:if="${messageError != null}">
                    <span th:text="#{${messageError}}"></span>
                </div>
            </section>
            <div class="container">
                <div class="row justify-content-center align-self-center">
                    <div class="col-11 p-0 mt-3 mb-2">
                        <div class="card px-5 pt-3 pb-0 mt-3 mb-3">
                            <div class="card-header"><span th:text="#{change.password.title.change}">ĐỔI MẬT KHẨU</span></div>
                            <div class="card-body">
                                <form id="formChangePass" th:action="@{/freemember/changepass}" th:object="${changePasswordForm}" method="post">
                                    <div class="pb-20" style="margin-left: 30%;margin-right: 30%;">
                                        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red"></span>
                                        <input type="text" class="form-control" disabled="disabled" th:field="*{email}" th:placeholder="#{label.email}" />
                                        <input type="hidden" th:field="*{email}" />
                                    </div>
                                    <div class="pb-20" style="margin-left: 30%;margin-right: 30%;">
                                        <span th:if="${#fields.hasErrors('passwordOld')}" th:errors="*{passwordOld}" style="color: red"></span>
                                        <input type="password" class="form-control" th:field="*{passwordOld}"th:placeholder="#{label.oldPassword}" />
                                    </div>
                                    <div class="pb-20" style="margin-left: 30%;margin-right: 30%;">
                                        <span th:if="${#fields.hasErrors('passwordNew')}" th:errors="*{passwordNew}" style="color: red"></span>
                                        <input type="password" class="form-control" th:field="*{passwordNew}"th:placeholder="#{label.newPassword}" />
                                    </div>
                                    <div class="pb-20" style="margin-left: 30%;margin-right: 30%;">
                                        <span th:if="${#fields.hasErrors('rePasswordNew')}" th:errors="*{rePasswordNew}" style="color: red"></span>
                                        <input type="password" class="form-control" th:field="*{rePasswordNew}"th:placeholder="#{label.confirmNewPassword}" />
                                    </div>
                                    <div class="text-right">
                                        <button id="btnChangePass" type="button" class="btn" th:text="#{form.button.changePassword}">Đổi mật khẩu</button>
                                        <a class="btn" style="background: #F59B22; color: white !important; font-weight: bold;" th:href="@{/}"  th:text="#{label.cancel}">Hủy</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
