<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <header class="bg-white" th:fragment="header">
        <div class="container">
            <div class="row">
                <div class="col-4 col-md-4 col-sm12">
                    <div class="logo">
                        <a href="#">
                            <img th:src="@{/static/images/logo.png}" />
                            <img th:src="@{/static/images/logo-gears.png}" style="padding-left: 1%; max-width: 177px;"/>
                        </a>
                    </div>
                </div>
                <div class="col-8 col-md-8 col-sm12 profile">
                    <div class="pull-right">
                        <ul class="nav pull-right">
                        	<li class="nav-item" style="display: flex;align-items: center;margin-right: 10px;">
                                <a th:href="@{/?lang=vi}" style="display: flex; width: 28px; height: 28px; border: 1px solid #8e8e93; border-radius: 50%; align-items: center; justify-content: center; margin-right:3px">
                                <img th:src="@{/static/images/vn.png}" style="width: 28px; cursor: pointer; border: 2px solid #FFF; border-radius: 50%;" lang="vi" class="language"/></a>
                                <a th:href="@{/?lang=en}" style="display: flex; width: 28px; height: 28px; border: 1px solid #8e8e93; border-radius: 50%; align-items: center; justify-content: center;">
                                <img th:src="@{/static/images/en.png}" style="width: 28px; cursor: pointer;  border: 2px solid #FFF; border-radius: 50%;" lang="en" class="language"/></a>
                                <input type="hidden" id="languageCurrent"  th:value="${#locale}"></input>
                            </li>
                            <li class="nav-item dropdown ml-auto">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                                    <span th:text="${session.LOGIN_USER_SESSION_KEY != null ? session.LOGIN_USER_SESSION_KEY.fullName : ''}">User</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a th:href="@{/freemember/changepass}" class="dropdown-item" th:text="#{label.changePassword}">Đổi mật khẩu</a>
                                    <div class="dropdown-divider"></div>
                                    <a th:href="@{/?logout}" class="dropdown-item" th:text="#{label.logout}">Thoát</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>
</html>
